@import url("reset.css");
@import url("especialidades.css");

/*Default*/
body{
    width: 100%;
    min-width: 280px;
    color: #0000008c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}

.largura-tela{
    max-width: 1024px;
    padding: 0 .5em;
    margin: 0 auto;
}

/*Header*/

.topo{
    background-color:rgb(77, 182, 182);
    width: 100%;
}

.topo__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo__links a:nth-child(even){
    margin: 0 1em;
}

.topo__links a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.topo__container img{
    display: block;
    width: 70%;
}

/*Banner*/
.banner{
    background: url("../assets/recepcao2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .8;
    background-color: #0000008c;
}


.banner__container{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    line-height: 4rem;
    z-index: 2;
}

/*Conteudo*/
.conteudo, .conteudo2{
    width: 60%;
    margin: 0 auto;
}

.conteudo{
    text-align: center;
    padding: 3em 0;
}

.conteudo h2{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.conteudo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteudo__lista h3{
    font-size: 2rem;
    margin-bottom: 1em;
}

.conteudo__lista li{
    margin-left: 3em;    
}

.galeria-imagens{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.imagem{
    /* width: calc((100% / 3) - 1em); */
    width: 300px;
    margin: .5em;
    box-sizing: border-box;
    box-shadow: 0 0 6px 2px grey;
    flex: 1 2 auto;
}

.imagem img{
    width: 100%;
}

.imagem figcaption{
    text-align: center;
    text-transform: uppercase;
}

iframe{
    width: 100%;
}

.conteudo span{
    font-weight: bold;
}

.botao{
    text-align: center;
    width: 100%;
}

.botao a{
    display: inline-block;
    background-color: rgb(77, 182, 182);
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

/*rodape*/
.rodape{
    padding: 2em;
    margin-top: 3em;
    background-color: rgb(18, 105, 91);
    color: white;
    line-height: 2rem;
    text-align: center;
}

.rodape img{
    width: 8.75rem;
}

/*Hover*/

.topo__links a:hover{
    color: black
}

/*Media Query de 320 até 425 pixel de largura*/
@media 
    /* (min-width: 320px) and  */
    (max-width: 425px){
    
    .topo__container{
        flex-direction: column;
    }
    .topo__container img{
        margin: 0 auto;
    }

    .topo__links a{
        margin: 0;
    }
    .topo__links{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
        border-top: 1px solid  rgb(18, 105, 91);
    }

    .banner__container, .banner__container h2{
        width: 100%;
        box-sizing: border-box;
        font-size: 1.5rem;
        padding: 0 .2em;
        line-height: 1.5em;
    }
    .banner{
        height: 200px;
    }

    .conteudo, .conteudo2 {
        width: 100%;
        line-height: 2em;
    }
    .conteudo2 img{
        display: none;
    }
    .conteudo__lista h3{
        text-align: center;
    }

}

/*Media Query de 426 até 768 pixel de largura*/
@media (min-width: 426px) and (max-width: 768px){

    .banner__container, .banner__container h2{
        width: 100%;
        box-sizing: border-box;
        font-size: 2rem;
        padding: 0 .2em;
        line-height: 1.5em;
    }
    .banner{
        height: 200px;
    }

    .conteudo, .conteudo2{
        width: 100%;
        line-height: 2em;
    }
    .conteudo2 img{
        display: none;
    }
    .conteudo__lista li{
        width: 65%;
        margin: 0 auto;
        padding-left: .5em;
    }
    .conteudo__lista h3{
        text-align: center;
    }
}

/*Media Query de 426 até 768 pixel de largura*/
@media (min-width: 769px) and (max-width: 1024px){
    .banner{
        height: 400px;
    }
}

@media (min-width: 1025px){
    .banner{
        height: 500px;
    }
}


